#cores li a#corCD5C5C {
    background-color: #CD5C5C;
}

.AltoContraste #cores li a#corCD5C5C {
    background-color: #CD5C5C !important;
}

#cores li a#corF08080 {
    background-color: #F08080;
}

.AltoContraste #cores li a#corF08080 {
    background-color: #F08080 !important;
}

#cores li a#corFA8072 {
    background-color: #FA8072;
}

.AltoContraste #cores li a#corFA8072 {
    background-color: #FA8072 !important;
}

#cores li a#corE9967A {
    background-color: #E9967A;
}

.AltoContraste #cores li a#corE9967A {
    background-color: #E9967A !important;
}

#cores li a#corFFA07A {
    background-color: #FFA07A;
}

.AltoContraste #cores li a#corFFA07A {
    background-color: #FFA07A !important;
}

#cores li a#corDC143C {
    background-color: #DC143C;
}

.AltoContraste #cores li a#corDC143C {
    background-color: #DC143C !important;
}

#cores li a#corFF0000 {
    background-color: #FF0000;
}

.AltoContraste #cores li a#corFF0000 {
    background-color: #FF0000 !important;
}

#cores li a#corB22222 {
    background-color: #B22222;
}

.AltoContraste #cores li a#corB22222 {
    background-color: #B22222 !important;
}

#cores li a#cor8B0000 {
    background-color: #8B0000;
}

.AltoContraste #cores li a#cor8B0000 {
    background-color: #8B0000 !important;
}

#cores li a#corFFC0CB {
    background-color: #FFC0CB;
}

.AltoContraste #cores li a#corFFC0CB {
    background-color: #FFC0CB !important;
}

#cores li a#corFFB6C1 {
    background-color: #FFB6C1;
}

.AltoContraste #cores li a#corFFB6C1 {
    background-color: #FFB6C1 !important;
}

#cores li a#corFF69B4 {
    background-color: #FF69B4;
}

.AltoContraste #cores li a#corFF69B4 {
    background-color: #FF69B4 !important;
}

#cores li a#corFF1493 {
    background-color: #FF1493;
}

.AltoContraste #cores li a#corFF1493 {
    background-color: #FF1493 !important;
}

#cores li a#corC71585 {
    background-color: #C71585;
}

.AltoContraste #cores li a#corC71585 {
    background-color: #C71585 !important;
}

#cores li a#corDB7093 {
    background-color: #DB7093;
}

.AltoContraste #cores li a#corDB7093 {
    background-color: #DB7093 !important;
}

#cores li a#corFFA07B {
    background-color: #FFA07B;
}

.AltoContraste #cores li a#corFFA07B {
    background-color: #FFA07B !important;
}

#cores li a#corFF7F50 {
    background-color: #FF7F50;
}

.AltoContraste #cores li a#corFF7F50 {
    background-color: #FF7F50 !important;
}

#cores li a#corFF6347 {
    background-color: #FF6347;
}

.AltoContraste #cores li a#corFF6347 {
    background-color: #FF6347 !important;
}

#cores li a#corFF4500 {
    background-color: #FF4500;
}

.AltoContraste #cores li a#corFF4500 {
    background-color: #FF4500 !important;
}

#cores li a#corFF8C00 {
    background-color: #FF8C00;
}

.AltoContraste #cores li a#corFF8C00 {
    background-color: #FF8C00 !important;
}

#cores li a#corFFA500 {
    background-color: #FFA500;
}

.AltoContraste #cores li a#corFFA500 {
    background-color: #FFA500 !important;
}

#cores li a#corFFD700 {
    background-color: #FFD700;
}

.AltoContraste #cores li a#corFFD700 {
    background-color: #FFD700 !important;
}

#cores li a#corFFFF00 {
    background-color: #FFFF00;
}

.AltoContraste #cores li a#corFFFF00 {
    background-color: #FFFF00 !important;
}

#cores li a#corFFFFE0 {
    background-color: #FFFFE0;
}

.AltoContraste #cores li a#corFFFFE0 {
    background-color: #FFFFE0 !important;
}

#cores li a#corFFFACD {
    background-color: #FFFACD;
}

.AltoContraste #cores li a#corFFFACD {
    background-color: #FFFACD !important;
}

#cores li a#corFAFAD2 {
    background-color: #FAFAD2;
}

.AltoContraste #cores li a#corFAFAD2 {
    background-color: #FAFAD2 !important;
}

#cores li a#corFFEFD5 {
    background-color: #FFEFD5;
}

.AltoContraste #cores li a#corFFEFD5 {
    background-color: #FFEFD5 !important;
}

#cores li a#corFFE4B5 {
    background-color: #FFE4B5;
}

.AltoContraste #cores li a#corFFE4B5 {
    background-color: #FFE4B5 !important;
}

#cores li a#corFFDAB9 {
    background-color: #FFDAB9;
}

.AltoContraste #cores li a#corFFDAB9 {
    background-color: #FFDAB9 !important;
}

#cores li a#corEEE8AA {
    background-color: #EEE8AA;
}

.AltoContraste #cores li a#corEEE8AA {
    background-color: #EEE8AA !important;
}

#cores li a#corF0E68C {
    background-color: #F0E68C;
}

.AltoContraste #cores li a#corF0E68C {
    background-color: #F0E68C !important;
}

#cores li a#corBDB76B {
    background-color: #BDB76B;
}

.AltoContraste #cores li a#corBDB76B {
    background-color: #BDB76B !important;
}

#cores li a#corE6E6FA {
    background-color: #E6E6FA;
}

.AltoContraste #cores li a#corE6E6FA {
    background-color: #E6E6FA !important;
}

#cores li a#corD8BFD8 {
    background-color: #D8BFD8;
}

.AltoContraste #cores li a#corD8BFD8 {
    background-color: #D8BFD8 !important;
}

#cores li a#corDDA0DD {
    background-color: #DDA0DD;
}

.AltoContraste #cores li a#corDDA0DD {
    background-color: #DDA0DD !important;
}

#cores li a#corEE82EE {
    background-color: #EE82EE;
}

.AltoContraste #cores li a#corEE82EE {
    background-color: #EE82EE !important;
}

#cores li a#corDA70D6 {
    background-color: #DA70D6;
}

.AltoContraste #cores li a#corDA70D6 {
    background-color: #DA70D6 !important;
}

#cores li a#corFF00FF {
    background-color: #FF00FF;
}

.AltoContraste #cores li a#corFF00FF {
    background-color: #FF00FF !important;
}

#cores li a#corBA55D3 {
    background-color: #BA55D3;
}

.AltoContraste #cores li a#corBA55D3 {
    background-color: #BA55D3 !important;
}

#cores li a#cor9370DB {
    background-color: #9370DB;
}

.AltoContraste #cores li a#cor9370DB {
    background-color: #9370DB !important;
}

#cores li a#cor8A2BE2 {
    background-color: #8A2BE2;
}

.AltoContraste #cores li a#cor8A2BE2 {
    background-color: #8A2BE2 !important;
}

#cores li a#cor9400D3 {
    background-color: #9400D3;
}

.AltoContraste #cores li a#cor9400D3 {
    background-color: #9400D3 !important;
}

#cores li a#cor9932CC {
    background-color: #9932CC;
}

.AltoContraste #cores li a#cor9932CC {
    background-color: #9932CC !important;
}

#cores li a#cor8B008B {
    background-color: #8B008B;
}

.AltoContraste #cores li a#cor8B008B {
    background-color: #8B008B !important;
}

#cores li a#cor800080 {
    background-color: #800080;
}

.AltoContraste #cores li a#cor800080 {
    background-color: #800080 !important;
}

#cores li a#cor4B0082 {
    background-color: #4B0082;
}

.AltoContraste #cores li a#cor4B0082 {
    background-color: #4B0082 !important;
}

#cores li a#cor6A5ACD {
    background-color: #6A5ACD;
}

.AltoContraste #cores li a#cor6A5ACD {
    background-color: #6A5ACD !important;
}

#cores li a#cor483D8B {
    background-color: #483D8B;
}

.AltoContraste #cores li a#cor483D8B {
    background-color: #483D8B !important;
}

#cores li a#cor7B68EE {
    background-color: #7B68EE;
}

.AltoContraste #cores li a#cor7B68EE {
    background-color: #7B68EE !important;
}

#cores li a#corADFF2F {
    background-color: #ADFF2F;
}

.AltoContraste #cores li a#corADFF2F {
    background-color: #ADFF2F !important;
}

#cores li a#cor7FFF00 {
    background-color: #7FFF00;
}

.AltoContraste #cores li a#cor7FFF00 {
    background-color: #7FFF00 !important;
}

#cores li a#cor7CFC00 {
    background-color: #7CFC00;
}

.AltoContraste #cores li a#cor7CFC00 {
    background-color: #7CFC00 !important;
}

#cores li a#cor00FF00 {
    background-color: #00FF00;
}

.AltoContraste #cores li a#cor00FF00 {
    background-color: #00FF00 !important;
}

#cores li a#cor32CD32 {
    background-color: #32CD32;
}

.AltoContraste #cores li a#cor32CD32 {
    background-color: #32CD32 !important;
}

#cores li a#cor98FB98 {
    background-color: #98FB98;
}

.AltoContraste #cores li a#cor98FB98 {
    background-color: #98FB98 !important;
}

#cores li a#cor90EE90 {
    background-color: #90EE90;
}

.AltoContraste #cores li a#cor90EE90 {
    background-color: #90EE90 !important;
}

#cores li a#cor00FA9A {
    background-color: #00FA9A;
}

.AltoContraste #cores li a#cor00FA9A {
    background-color: #00FA9A !important;
}

#cores li a#cor00FF7F {
    background-color: #00FF7F;
}

.AltoContraste #cores li a#cor00FF7F {
    background-color: #00FF7F !important;
}

#cores li a#cor3CB371 {
    background-color: #3CB371;
}

.AltoContraste #cores li a#cor3CB371 {
    background-color: #3CB371 !important;
}

#cores li a#cor2E8B57 {
    background-color: #2E8B57;
}

.AltoContraste #cores li a#cor2E8B57 {
    background-color: #2E8B57 !important;
}

#cores li a#cor228B22 {
    background-color: #228B22;
}

.AltoContraste #cores li a#cor228B22 {
    background-color: #228B22 !important;
}

#cores li a#cor008000 {
    background-color: #008000;
}

.AltoContraste #cores li a#cor008000 {
    background-color: #008000 !important;
}

#cores li a#cor006400 {
    background-color: #006400;
}

.AltoContraste #cores li a#cor006400 {
    background-color: #006400 !important;
}

#cores li a#cor9ACD32 {
    background-color: #9ACD32;
}

.AltoContraste #cores li a#cor9ACD32 {
    background-color: #9ACD32 !important;
}

#cores li a#cor6B8E23 {
    background-color: #6B8E23;
}

.AltoContraste #cores li a#cor6B8E23 {
    background-color: #6B8E23 !important;
}

#cores li a#cor808000 {
    background-color: #808000;
}

.AltoContraste #cores li a#cor808000 {
    background-color: #808000 !important;
}

#cores li a#cor556B2F {
    background-color: #556B2F;
}

.AltoContraste #cores li a#cor556B2F {
    background-color: #556B2F !important;
}

#cores li a#cor66CDAA {
    background-color: #66CDAA;
}

.AltoContraste #cores li a#cor66CDAA {
    background-color: #66CDAA !important;
}

#cores li a#cor8FBC8F {
    background-color: #8FBC8F;
}

.AltoContraste #cores li a#cor8FBC8F {
    background-color: #8FBC8F !important;
}

#cores li a#cor20B2AA {
    background-color: #20B2AA;
}

.AltoContraste #cores li a#cor20B2AA {
    background-color: #20B2AA !important;
}

#cores li a#cor008B8B {
    background-color: #008B8B;
}

.AltoContraste #cores li a#cor008B8B {
    background-color: #008B8B !important;
}

#cores li a#cor008080 {
    background-color: #008080;
}

.AltoContraste #cores li a#cor008080 {
    background-color: #008080 !important;
}

#cores li a#cor00FFFF {
    background-color: #00FFFF;
}

.AltoContraste #cores li a#cor00FFFF {
    background-color: #00FFFF !important;
}

#cores li a#corE0FFFF {
    background-color: #E0FFFF;
}

.AltoContraste #cores li a#corE0FFFF {
    background-color: #E0FFFF !important;
}

#cores li a#corAFEEEE {
    background-color: #AFEEEE;
}

.AltoContraste #cores li a#corAFEEEE {
    background-color: #AFEEEE !important;
}

#cores li a#cor7FFFD4 {
    background-color: #7FFFD4;
}

.AltoContraste #cores li a#cor7FFFD4 {
    background-color: #7FFFD4 !important;
}

#cores li a#cor40E0D0 {
    background-color: #40E0D0;
}

.AltoContraste #cores li a#cor40E0D0 {
    background-color: #40E0D0 !important;
}

#cores li a#cor48D1CC {
    background-color: #48D1CC;
}

.AltoContraste #cores li a#cor48D1CC {
    background-color: #48D1CC !important;
}

#cores li a#cor00CED1 {
    background-color: #00CED1;
}

.AltoContraste #cores li a#cor00CED1 {
    background-color: #00CED1 !important;
}

#cores li a#cor5F9EA0 {
    background-color: #5F9EA0;
}

.AltoContraste #cores li a#cor5F9EA0 {
    background-color: #5F9EA0 !important;
}

#cores li a#cor4682B4 {
    background-color: #4682B4;
}

.AltoContraste #cores li a#cor4682B4 {
    background-color: #4682B4 !important;
}

#cores li a#corB0C4DE {
    background-color: #B0C4DE;
}

.AltoContraste #cores li a#corB0C4DE {
    background-color: #B0C4DE !important;
}

#cores li a#cor9BE1FF {
    background-color: #9BE1FF;
}

.AltoContraste #cores li a#cor9BE1FF {
    background-color: #9BE1FF !important;
}

#cores li a#corB0E0E6 {
    background-color: #B0E0E6;
}

.AltoContraste #cores li a#corB0E0E6 {
    background-color: #B0E0E6 !important;
}

#cores li a#corADD8E6 {
    background-color: #ADD8E6;
}

.AltoContraste #cores li a#corADD8E6 {
    background-color: #ADD8E6 !important;
}

#cores li a#cor87CEEB {
    background-color: #87CEEB;
}

.AltoContraste #cores li a#cor87CEEB {
    background-color: #87CEEB !important;
}

#cores li a#cor87CEFA {
    background-color: #87CEFA;
}

.AltoContraste #cores li a#cor87CEFA {
    background-color: #87CEFA !important;
}

#cores li a#cor00BFFF {
    background-color: #00BFFF;
}

.AltoContraste #cores li a#cor00BFFF {
    background-color: #00BFFF !important;
}

#cores li a#cor1E90FF {
    background-color: #1E90FF;
}

.AltoContraste #cores li a#cor1E90FF {
    background-color: #1E90FF !important;
}

#cores li a#cor6495ED {
    background-color: #6495ED;
}

.AltoContraste #cores li a#cor6495ED {
    background-color: #6495ED !important;
}

#cores li a#cor4169E1 {
    background-color: #4169E1;
}

.AltoContraste #cores li a#cor4169E1 {
    background-color: #4169E1 !important;
}

#cores li a#cor0000FF {
    background-color: #0000FF;
}

.AltoContraste #cores li a#cor0000FF {
    background-color: #0000FF !important;
}

#cores li a#cor0000CD {
    background-color: #0000CD;
}

.AltoContraste #cores li a#cor0000CD {
    background-color: #0000CD !important;
}

#cores li a#cor00008B {
    background-color: #00008B;
}

.AltoContraste #cores li a#cor00008B {
    background-color: #00008B !important;
}

#cores li a#cor000080 {
    background-color: #000080;
}

.AltoContraste #cores li a#cor000080 {
    background-color: #000080 !important;
}

#cores li a#cor191970 {
    background-color: #191970;
}

.AltoContraste #cores li a#cor191970 {
    background-color: #191970 !important;
}

#cores li a#corFFF8DC {
    background-color: #FFF8DC;
}

.AltoContraste #cores li a#corFFF8DC {
    background-color: #FFF8DC !important;
}

#cores li a#corFFEBCD {
    background-color: #FFEBCD;
}

.AltoContraste #cores li a#corFFEBCD {
    background-color: #FFEBCD !important;
}

#cores li a#corFFE4C4 {
    background-color: #FFE4C4;
}

.AltoContraste #cores li a#corFFE4C4 {
    background-color: #FFE4C4 !important;
}

#cores li a#corFFDEAD {
    background-color: #FFDEAD;
}

.AltoContraste #cores li a#corFFDEAD {
    background-color: #FFDEAD !important;
}

#cores li a#corF5DEB3 {
    background-color: #F5DEB3;
}

.AltoContraste #cores li a#corF5DEB3 {
    background-color: #F5DEB3 !important;
}

#cores li a#corDEB887 {
    background-color: #DEB887;
}

.AltoContraste #cores li a#corDEB887 {
    background-color: #DEB887 !important;
}

#cores li a#corD2B48C {
    background-color: #D2B48C;
}

.AltoContraste #cores li a#corD2B48C {
    background-color: #D2B48C !important;
}

#cores li a#corBC8F8F {
    background-color: #BC8F8F;
}

.AltoContraste #cores li a#corBC8F8F {
    background-color: #BC8F8F !important;
}

#cores li a#corF4A460 {
    background-color: #F4A460;
}

.AltoContraste #cores li a#corF4A460 {
    background-color: #F4A460 !important;
}

#cores li a#corDAA520 {
    background-color: #DAA520;
}

.AltoContraste #cores li a#corDAA520 {
    background-color: #DAA520 !important;
}

#cores li a#corB8860B {
    background-color: #B8860B;
}

.AltoContraste #cores li a#corB8860B {
    background-color: #B8860B !important;
}

#cores li a#corCD853F {
    background-color: #CD853F;
}

.AltoContraste #cores li a#corCD853F {
    background-color: #CD853F !important;
}

#cores li a#corD2691E {
    background-color: #D2691E;
}

.AltoContraste #cores li a#corD2691E {
    background-color: #D2691E !important;
}

#cores li a#cor8B4513 {
    background-color: #8B4513;
}

.AltoContraste #cores li a#cor8B4513 {
    background-color: #8B4513 !important;
}

#cores li a#corA0522D {
    background-color: #A0522D;
}

.AltoContraste #cores li a#corA0522D {
    background-color: #A0522D !important;
}

#cores li a#corA52A2A {
    background-color: #A52A2A;
}

.AltoContraste #cores li a#corA52A2A {
    background-color: #A52A2A !important;
}

#cores li a#cor800000 {
    background-color: #800000;
}

.AltoContraste #cores li a#cor800000 {
    background-color: #800000 !important;
}

#cores li a#corFFFFFF {
    background-color: #FFFFFF;
}

.AltoContraste #cores li a#corFFFFFF {
    background-color: #FFFFFF !important;
}

#cores li a#corFFFAFA {
    background-color: #FFFAFA;
}

.AltoContraste #cores li a#corFFFAFA {
    background-color: #FFFAFA !important;
}

#cores li a#corF0FFF0 {
    background-color: #F0FFF0;
}

.AltoContraste #cores li a#corF0FFF0 {
    background-color: #F0FFF0 !important;
}

#cores li a#corF5FFFA {
    background-color: #F5FFFA;
}

.AltoContraste #cores li a#corF5FFFA {
    background-color: #F5FFFA !important;
}

#cores li a#corF0FFFF {
    background-color: #F0FFFF;
}

.AltoContraste #cores li a#corF0FFFF {
    background-color: #F0FFFF !important;
}

#cores li a#corF0F8FF {
    background-color: #F0F8FF;
}

.AltoContraste #cores li a#corF0F8FF {
    background-color: #F0F8FF !important;
}

#cores li a#corF8F8FF {
    background-color: #F8F8FF;
}

.AltoContraste #cores li a#corF8F8FF {
    background-color: #F8F8FF !important;
}

#cores li a#corF5F5F5 {
    background-color: #F5F5F5;
}

.AltoContraste #cores li a#corF5F5F5 {
    background-color: #F5F5F5 !important;
}

#cores li a#corFFF5EE {
    background-color: #FFF5EE;
}

.AltoContraste #cores li a#corFFF5EE {
    background-color: #FFF5EE !important;
}

#cores li a#corF5F5DC {
    background-color: #F5F5DC;
}

.AltoContraste #cores li a#corF5F5DC {
    background-color: #F5F5DC !important;
}

#cores li a#corFDF5E6 {
    background-color: #FDF5E6;
}

.AltoContraste #cores li a#corFDF5E6 {
    background-color: #FDF5E6 !important;
}

#cores li a#corFFFAF0 {
    background-color: #FFFAF0;
}

.AltoContraste #cores li a#corFFFAF0 {
    background-color: #FFFAF0 !important;
}

#cores li a#corFFFFF0 {
    background-color: #FFFFF0;
}

.AltoContraste #cores li a#corFFFFF0 {
    background-color: #FFFFF0 !important;
}

#cores li a#corFAEBD7 {
    background-color: #FAEBD7;
}

.AltoContraste #cores li a#corFAEBD7 {
    background-color: #FAEBD7 !important;
}

#cores li a#corFAF0E6 {
    background-color: #FAF0E6;
}

.AltoContraste #cores li a#corFAF0E6 {
    background-color: #FAF0E6 !important;
}

#cores li a#corFFF0F5 {
    background-color: #FFF0F5;
}

.AltoContraste #cores li a#corFFF0F5 {
    background-color: #FFF0F5 !important;
}

#cores li a#corFFE4E1 {
    background-color: #FFE4E1;
}

.AltoContraste #cores li a#corFFE4E1 {
    background-color: #FFE4E1 !important;
}

#cores li a#corDCDCDC {
    background-color: #DCDCDC;
}

.AltoContraste #cores li a#corDCDCDC {
    background-color: #DCDCDC !important;
}

#cores li a#corD3D3D3 {
    background-color: #D3D3D3;
}

.AltoContraste #cores li a#corD3D3D3 {
    background-color: #D3D3D3 !important;
}

#cores li a#corC0C0C0 {
    background-color: #C0C0C0;
}

.AltoContraste #cores li a#corC0C0C0 {
    background-color: #C0C0C0 !important;
}

#cores li a#corA9A9A9 {
    background-color: #A9A9A9;
}

.AltoContraste #cores li a#corA9A9A9 {
    background-color: #A9A9A9 !important;
}

#cores li a#cor808080 {
    background-color: #808080;
}

.AltoContraste #cores li a#cor808080 {
    background-color: #808080 !important;
}

#cores li a#cor696969 {
    background-color: #696969;
}

.AltoContraste #cores li a#cor696969 {
    background-color: #696969 !important;
}

#cores li a#cor778899 {
    background-color: #778899;
}

.AltoContraste #cores li a#cor778899 {
    background-color: #778899 !important;
}

#cores li a#cor708090 {
    background-color: #708090;
}

.AltoContraste #cores li a#cor708090 {
    background-color: #708090 !important;
}

#cores li a#cor2F4F4F {
    background-color: #2F4F4F;
}

.AltoContraste #cores li a#cor2F4F4F {
    background-color: #2F4F4F !important;
}

#cores li a#cor000000 {
    background-color: #000000;
}

.AltoContraste #cores li a#cor000000 {
    background-color: #000000 !important;
}

.AltoContraste * {
	margin: 0;
}

.AltoContraste #janelaCores ul {
    background-color: #000000 !important;
}
.AltoContraste #janelaCores {
    background-color: #000000 !important;
}

.AltoContraste #barra_mec {
    background-color: #FC0 !important;
}
.AltoContraste #barra_mec form fieldset{
    background-color: #FC0 !important;
}

.AltoContraste #barra_mec h1 {
    background: url(img/h1pq.gif) top left no-repeat !important;
}

.AltoContraste #barra_mec a.brasil {
    background: url(img/selo_brasil_pq.gif) top right no-repeat !important;
}

.AltoContraste a.aumenta_letra {
    background: url(img/aumentar.gif) center left no-repeat !important;
}
.AltoContraste a.contraste_original {
    background: url(img/contraste.gif) center left no-repeat !important;
}

.AltoContraste a.diminui_letra {
    background: url(img/diminuir.gif) center left no-repeat !important;
}

.AltoContraste a.alto_contraste {
    background: url(img/contraste.gif) center left no-repeat !important;
}

.AltoContraste a.tamanho_normal {
    background: url(img/normal.gif) center left no-repeat !important;
}

.AltoContraste a.infoErro {
    background:transparent url(img/errorButton.png) no-repeat left bottom !important;
}

.AltoContraste a.pfd {
    background:transparent url(img/pdf_button.png) no-repeat left bottom !important;
}

.AltoContraste a.print {
    background:transparent url(img/printButton.png) no-repeat left bottom !important;
}

.AltoContraste a.email {
    background:transparent url(img/emailButton.png) no-repeat left bottom !important;
}

.AltoContraste #rodape #voltarTopo a {
    background: transparent url(img/icone_topo.jpg) no-repeat right center !important;
}

.AltoContraste .xhtml {
    background: transparent url(img/seloXhtml.gif) no-repeat left top !important;
}

.AltoContraste .css {
    background: transparent url(img/seloCss.gif) no-repeat left top !important;
}

.AltoContraste .wai {
    background: transparent url(img/seloWai.gif) no-repeat left top !important;
}

.AltoContraste .tableless {
    background: transparent url(img/seloTableless.gif) no-repeat left top !important;
}

.AltoContraste a.fonte {
    background: url(img/cor_fonte.jpg) no-repeat left center !important;
}

.AltoContraste a.fundo {
    background: url(img/cor_fundo.jpg) no-repeat left center !important;
}
.AltoContraste #topo div.interna {
    background: url(img/topo_contraste.gif) no-repeat left top !important;
}
.AltoContraste #janelaCores #fechar{
	background-color:#000 !important;
	background:url(img/fechar.jpg) no-repeat right !important;
}
.AltoContraste #janelaCores span, .AltoContraste #janelaCores a{
	background-color:#000000 !important;
}