/*
 *	ACESSIBILIDADE
 */
#acessibilidade{
	/*background:transparent url(img/fundo_acessibilidade.jpg) repeat left top;*/
	background-color: #FFFFFF;
	float: left;
	width:100%;
	padding: 0 0 0 0;
	height:auto;
	margin: 10px 0 10px 0;		
}
#acessibilidadeinterno{
	background:transparent url(../img/fundo_acessibilidade.jpg) repeat left top;
	margin: 0 auto; 
	width: 1010px; 
	height: 25px;
	border:1px solid #7FA031;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}
#acessibilidade ul{
	padding: 3px 5px 0 5px;
	list-style-type: none;
	margin: 0 0 0 0;
}
#acessibilidade ul li{
	float:left;
}
#acessibilidade ul li a{
	font-size:0.85em;
	text-decoration:none;
	color:#FFF;
}
#acessibilidade ul li a:hover{
	text-decoration:underline;
}
#acessibilidade ul#atalhos{
	float:left;
}
#acessibilidade ul#atalhos li a{
	padding-right: 7px;
}
#acessibilidade ul#botoes_acessibilidade li{
	padding-left: 7px;
}
#acessibilidade #botoes_acessibilidade{
	float:right;
}
ul#botoes_acessibilidade li a {
	height:13px;
}
ul#botoes_acessibilidade li a#aumentar_fonte{
	background:transparent url(../img/aumentar.gif) no-repeat left bottom;
	padding-left: 20px;
}
ul#botoes_acessibilidade li a#diminuir_fonte{
	background:transparent url(../img/diminuir.gif) no-repeat left bottom;
	padding-left: 20px;
}
ul#botoes_acessibilidade li a#tamanho_original{
	background:transparent url(../img/normal.gif) no-repeat left bottom;
	padding-left: 20px;
}
ul#botoes_acessibilidade li a#alto_contraste{
	background:transparent url(../img/alto_contraste.jpg) no-repeat left bottom;
	padding-left: 20px;
}
#menu_container{
    position: relative;
    display: block;
	padding: 1px 0 0 0;
}
#acessibilidade ul#caixa_contraste{
    position: absolute;
    top: 22px;
    left:30px;
    background:#5c761d;
    display: none;
    list-style: none;
	width: 85px;
	height: 85px;
	z-index:4;
	-moz-border-radius: 10px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
#caixa_contraste li a{
    display: block;
    width: 70px;
    text-decoration: none;
    /*background:#00500f;*/
    text-indent: 0;
    color: #000;
}
#acessibilidade ul#caixa_contraste *, #acessibilidade ul#caixa_contraste {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#acessibilidade #caixa_contraste li{
    clear: both;
    margin: 0 auto;
    height: 20px;
    text-align: center;
}
#acessibilidade #caixa_contraste li a{
    height: 20px;
}
#acessibilidade #caixa_contraste li a:hover{
    text-decoration: underline;
	display: block;
}
#acessibilidade #caixa_contraste li#preto a:hover{
    color:#FFFFFF;
    background: #000000;
}
#acessibilidade #caixa_contraste li#azul a:hover{
    color:#FFFF00;
    background: #345b96;
}
#acessibilidade #caixa_contraste li#verde a:hover{
    color:#FFFF00;
    background: #5c761d;
}
#acessibilidade #caixa_contraste li#original a:hover{
    color:#000;
    background: #F1F6E4;
}