*{
	margin:5px 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#global{
	text-align:left;
	margin:3% 10% 10%;
}
input{
	margin:10px 0;
}
h2, h3, h4, h5{
	clear:both;
}
h3{
	font-size:1.3em;
}
h5{
	font-weight:normal;
	font-style:italic;
}
p{
	margin:10px 0;
}
ul{
	margin:15px 0;
}
li{
	margin-left:10px;
}
a{
	color:#000;
}
.imagens li{
	float:left;
	width:160px;
	height:170px;
	list-style:none;
}
a.alt{
	text-indent:-20000px;
	display:block;
	outline:0;
}
#imprimir{
	background:transparent url(../img/impressao.gif) no-repeat left top;
	padding-left:20px;
}